
/* ----------------HEADER------------------- */
/* --------------HERO--------------- */
.main-background {
    background: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
background-repeat: no-repeat;
background-size: cover;
max-width: 1440px;
margin: 0 auto;
background-position: center;

}

.main-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
        max-width: 496px;
        
}
.text-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
            background-color: #4d5ae5;
            padding: 16px 32px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.style-btn {
    min-width: 169px;
    border-radius: 4px;
    border: none;
    

}
.text-button:hover,
.text-button:focus {
    background: #404bbf;
}
/* ----------------BENEFITS---------------- */
.section-benefits {  display: flex;
    gap: 24px;
}
.box-bnf-icon {
margin-bottom: 8px;
display: flex;
align-items: center;
justify-content: center;
width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
}
.section-benefits .name {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    
}


.section-benefits .text {
    font-weight: 400;
        font-size: 16px;
line-height: 1.5;
    letter-spacing: 0.02em;
        color: #434455;
}
/* -----------------TEAM----------------- */
.section-team {
    background: #f4f4fd;
    
}
.title-team {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.item-team-info {
    padding-top: 32px;
    padding-bottom: 32px;


}
.list-team {
    display: flex;
    gap: 24px;
}
.item-team {
    border-radius: 0 0 4px 4px;
    width: calc((100% - 3 * 24) / 4);
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.item-team .photo {
    
    max-width: 100%;
        display: block;
        height: auto;
}

.item-team .name {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
        text-align: center;
        margin-bottom: 8px;
}
.item-team .text-name {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        margin-bottom: 8px;
        
}
.list-team-icon {
    
display: flex;
    align-items: center;
    justify-content: center;
    width: 232px;
    gap: 24px;
    margin: 0 auto;
    }

    
.item-team-link {
width: 40px;
height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-team-icon {
    fill: #f4f4fd;
}
.item-team-link:hover, .item-team-link:focus {
    background-color: #404bbf;
}
/* ----------------PORTFOLIO--------------- */
.title-portfolio {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;

}
.portfolio {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;

}
.portfolio-cover {
position: relative;
overflow: hidden;
}
.portfolio-cover-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    padding: 40px 32px;
background-color: #4d5ae5;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-portfolio:hover .portfolio-cover-text {
transform: translateY(0);
}
.addition-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.item-portfolio {
        width: calc((100% - 2 * 24px) / 3);
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.item-portfolio .photo{
    max-width: 100%;
    display: block;
    height: auto;
}
.item-portfolio .name {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.item-portfolio .text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* ------------FOOTER--------------- */
.footer {
    background: #2e2f42;
    padding-top: 100px;
        padding-bottom: 100px;
}
.footer .text-footer {
line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}


.logo-two {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;

}
.footer-container {
    display: flex;
    align-items: baseline;
    
}
.footer-logo{
    width: 264px;
        height: 112px;
margin-right: 120px;
}
.footer-media {
width: 208px;
    height: 80px;
}
.text-footer-media {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        max-width: 96px;
        margin: 0;
        margin-bottom: 16px;
}

.list-media {
    display: flex;
    gap: 16px;
}

.item-media {
    width: calc((100% - 3 * 16px) / 4);
}

.item-media-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-media-link:hover, .item-media-link:focus {
    background-color: #31d0aa ;
}
.subscribe-wrap {
    max-width: 453px;
        height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 80px;
    padding: 0;
}
.subscribe-form {
    display: flex;
    align-items: center;
    gap: 24px;
}
.subscribe-text {
    font-family: inherit;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-left: 0;
        margin-bottom: 16px;
}

.subscribe-label {
    background-color: transparent;
}

.subscribe-input {
background-color: transparent;
border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    font-family: inherit;
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #ffffff;
}
.subscribe-input::placeholder {
        color: #ffffff;
}
.subscribe-btn {
    font-family: inherit;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
    display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
            padding: 8px 24px;
            min-width: 165px;
            height: 40px;
            background: #4d5ae5;
            border: none;
}

.icon-frame {
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
    margin-left: 16px;
}




/* -----------MODAL-OVERLAY ------------*/
.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px;
    overflow-y: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
    border-radius: 50%;
        width: 24px;
        height: 24px;
        background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    top: 24px;
    right: 24px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.close-button:hover {
    background-color: #404bbf;
        border: none;
}
 .close-button:focus {
    background-color: #404bbf;
    border: none;
}

.close-button:hover .close-icon {
    fill: #ffffff;
}
 .close-button:focus .close-icon {
    fill: #ffffff;
    
}
.close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-modal {
    font-family: inherit;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}
.modal-field{
    
    margin-bottom: 8px;

}

.modal-label{

    font-family: inherit;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
        display: block;
}
.input-wrap {
    position: relative;

}
.modal-input {
        border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            width: 100%;
            height: 40px;
            background-color: transparent;
            padding-left: 38px;
            padding-right: 16px;
            color: #2e2f42;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
.icon-input {
    fill: #2e2f42;
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field.comment {
    margin-bottom: 16px;
}
    .textarea-comment {
border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    padding:8px 16px;
    color: #2e2f42;
    font-family: inherit;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .modal-input:focus, .textarea-comment:focus {
    border-color: #4d5ae5;
    }
    .modal-input:focus + .icon-input {
        fill: #4d5ae5;
    }

        .checkbox-wrap {
            
            margin-bottom: 24px;
        }
        
        .label-policy{
            font-family: inherit;
            font-weight: 400;
                font-size: 12px;
                line-height: 1.17;
                letter-spacing: 0.04em;
                color: #8e8f99;
                align-items: center;
                
                
        }
        .modal-check-item {
            width: 16px;
            height: 16px;
            border-radius: 2px;
                border: 1px solid rgba(46, 47, 66, 0.4);
                margin-right: 8px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                fill: transparent;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .modal-checkbox:checked {
background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
        }
                .modal-checkbox:checked+.label-policy .modal-check-item{
            background-color: #404bbf;
            border: none;
            fill: #F4F4FD;
        }
        .policy-accent {
            line-height: 1.33333;
                text-decoration: underline;
                text-decoration-skip-ink: none;
                color: #4d5ae5;
                margin-left: 5px;
        }
.modal-btn {
    border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        border: none;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            background: #4d5ae5;
            display: block;
                align-items: center;
                justify-content: center;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                
} 
.modal-text-btn {
    font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
}